body {
    background-color: #f3f3f3;
    color: #6a7285;
}

nav {
    background-color: #374258!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #374258;
}

h2 {
    color: #6a7285;
}

h3 {
    font-size: 45px;
}

.subheading {
    color: #f74464;
}

.white-subheading {
    color: #6a7285;
}

.red {
    font-weight: 700;
}

.list-social-icons a {
    color: #374258; }
    .list-social-icons a:hover {
      color: #f74464; }
    .list-social-icons a .fa-lg {
      font-size: 1.75rem; }

.list-icons {
    font-size: 3rem; }
    .list-icons .list-inline-item i:hover {
        color: #f74464; }

.bg-primary {
    background-color: #f74464 !important; }
          
    .text-primary {
        color: #6a7285 !important; }
          
    a {
    color: #f74464; }
        a:hover, a:focus, a:active {
            color: #a52c42; }

.text-red {
    color: #f74464 !important;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

/* Styles for the gallery */

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

.tz-gallery img {
    border-radius: 2px;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}